{% extends 'baselayout.html' %}

{% load static from staticfiles %}



{% block content %}
<div class="message">


</div>
<div class="container">
    <div class="main">
        <h1 class="sign" style="font-family: 'Pacifico', cursive;" align=center>Login</h1>
        <br />
        {% if messages %}
        {% for message in messages %}
        <div class="msg" role="alert">
            <centre>
                <i class="fa fa-remove" style="color: red;"></i>
                {{message}}
            </centre>
        </div>
        {% endfor%}
        {% endif %}
        <br />

        <form method="POST" action="/accounts/login/" style="margin-left: 20%; margin-right: 20%;">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp"
                    placeholder="Enter username" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="pass" placeholder="Password" />
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
            </div>
            <br />
            <button type="submit" class="btn btn-dark">Login</button>
            <small id="emailHelp" class="form-text text-muted">Don't have an account?
                <a href="/accounts/register/">Register</a></small>
        </form>

    </div>
</div>

{% endblock %}